<!-- index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Payment Selection</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div style=" width: 400px; height: 800px; margin: 0 auto; text-align: center;">
  <h1>Select a Payment Method</h1>
  <a href="/paypal">Pay with PayPal</a>
  <br>
  <a href="/braintree">Pay with Braintree</a>
    </div>
</body>
</html>
